# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
build/
.next/
*.log

# TS build artifacts
*.tsbuildinfo
vite.config.js
vite.config.d.ts

# Env
.env
.env.local
.env.*.local

# Claude
.claude/settings.local.json
